<h1>Listagem de veículos</h1>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let veiculo"> {{veiculo.guidVeiculo}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="placa">
    <mat-header-cell *matHeaderCellDef> PLACA </mat-header-cell>
    <mat-cell *matCellDef="let veiculo"> {{veiculo.placa}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="modelo">
    <mat-header-cell *matHeaderCellDef> MODELO </mat-header-cell>
    <mat-cell *matCellDef="let veiculo"> {{veiculo.modelo}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="marca">
    <mat-header-cell *matHeaderCellDef> MARCA </mat-header-cell>
    <mat-cell *matCellDef="let veiculo"> {{veiculo.marca}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="alterar">
    <mat-header-cell *matHeaderCellDef> &nbsp; </mat-header-cell>
    <mat-cell *matCellDef="let veiculo"> <a [routerLink]="['/view/veiculo-cadastro/'+veiculo.guidVeiculo]">Alterar</a> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>