<h1>Cadastro de veículos</h1>
<p>
  <mat-form-field appearance="legacy">
    <mat-label>Placa</mat-label>
    <input matInput [(ngModel)]="veiculo.placa" placeholder="Digite a placa">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Digite a placa do veículo</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Marca</mat-label>
    <input matInput [(ngModel)]="veiculo.marca" placeholder="Digite a marca">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Digite a marca do veículo</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard">
    <mat-label>Modelo</mat-label>
    <input matInput [(ngModel)]="veiculo.modelo" placeholder="Digite o modelo">
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-hint>Digite o modelo do veículo</mat-hint>
  </mat-form-field>
</p>
<div class="example-button-row">
  <button class="btn btn-primary" (click)="salvar()">Salvar</button>
</div>

